@{
    Layout = "_LedinproLayout";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <h2 style="color: black">
        Thank you for confirming your email. Now you can <a asp-controller="Account" asp-action="Login">login</a>.
    </h2>
</div>
