@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Forgot password confirmation";
}

<div class="login-box">
    <h2>@ViewData["Title"]</h2>
    <p>
        Please check your email to reset your password.
    </p>
</div>

