@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        <form method="POST" asp-action="AddUserRole">
            <div class="form-group">
                <input class="hidden" name="id" value="@ViewBag.Id" />
                <div class="row">
                    <div class="col-md-2 col-lg-2">
                        <label for="roleName">角色</label>
                    </div>
                    <div class="col-md-8 col-lg-8">
                        <select id="roleName" name="roleName" asp-items="@ViewBag.RolesList"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="增加" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger" style="float: right">放弃保存</a>
            </div>
        </form>
    </div>
</div>

