@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="leftTopTitle">
    <a asp-action="CreateUserRole" asp-route-id=@(ViewBag.Id)>增加</a>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>角色</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach(var item in ViewBag.UserRols)
        {
            <tr>
                <td>
                    @item
                </td>
                <td>
                    <a asp-controller="UserManager" asp-action="RemoveUserRole" asp-route-roleName="@item" asp-route-id="@ViewBag.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>