body {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #F37044;
}

/* 鼠标停到a上时，p元素的文本颜色 */
a:hover p {
    color: #F37044;
}

/* logo大小 */
.brand {
    width: 220px;
    height: 80px;
}

/* 导航条背景色 */
.homeNav {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0px;
}

/* 设置导航条内补，调整导航条高度 */
#main-navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-navbar-collapse a {
    color: #000000;
    font-size: 17px;
}

#main-navbar-collapse a:hover {
    color: #F37044;
}

.lightingNav {
    background-color: #000000;
    border: none;
    margin-bottom: 0px;
}

#lighting-navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}

#lighting-navbar-collapse a {
    color: #FFFFFF;
    font-size: 17px;
}

#lighting-navbar-collapse a:hover {
    color: #F37044;
}

.orangeHr {
    background-color: #f37044;
    height: 2px;
    margin: 0px;
}

.middleMargin {
    margin-top: 93px;
}

.middleMargin p,h3{
    text-align: center;
}

.homeBackgoundColor {
    background-color: #211F1B;
}

.lightingBackgoundColor {
    background-color: #000000;
}

.indexLeftPicturePadding {
    padding: 60px 10px 60px 0px;
}

.indexRightPicturePadding {
    padding: 60px 0px 60px 10px;
}

.homePictureSize {
    width: 450px;
    height: 300px;
}

.disInlineBlockWithSizeLog {
    display: inline-block;
    height: 70px;
    width: 131px;
}

























/******************************待删除***********************************/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/******************************待删除***********************************/