body {
    padding: 0px;
    margin: 0px;
}

/* logo大小 */
.brand {
    width: 220px;
    height: 80px;
}

/* 导航条背景色 */
.navWhite {
    background-color: #ffffff;
    border: none;
}

/* 设置导航条内补，调整导航条高度 */
#main-navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-navbar-collapse a {
    color: #000000;
    font-size: 17px;
}

#main-navbar-collapse a:hover {
    color: #F37044;
}

.orangeHr {
    background-color: #f37044;
    height: 2px;
}

.middleMargin {
    margin-top: 154px;
}

























/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/******************************待删除***********************************/