body {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

/* logo大小 */
.brand {
    width: 220px;
    height: 80px;
}

/* 导航条背景色 */
.homeNav {
    background-color: #ffffff;
    border: none;
    margin-bottom: 0px;
}

/* 设置导航条内补，调整导航条高度 */
#main-navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-navbar-collapse a {
    color: #000000;
    font-size: 17px;
}

#main-navbar-collapse a:hover {
    color: #F37044;
}

.lightingNav {
    background-color: #000000;
    border: none;
    margin-bottom: 0px;
}

#lighting-navbar-collapse {
    padding-top: 20px;
    padding-bottom: 20px;
}

#lighting-navbar-collapse a {
    color: #FFFFFF;
    font-size: 17px;
}

#lighting-navbar-collapse a:hover {
    color: #F37044;
}

.orangeHr {
    background-color: #f37044;
    height: 2px;
    margin-top: 89px;
    margin-bottom: 0px;
}

.middleMargin {
    padding-top: 50px;
}

.middleMargin p,h3{
    text-align: center;
}

.homeBackgoundColor {
    background-color: #211F1B;
}

.lightingBackgoundColor {
    background-color: #000000;
}



























/******************************待删除***********************************/
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
/******************************待删除***********************************/