@using Ledinpro.Models

@{
    // 显式指定
    Layout = "_LedinproLayout";
    string activeFlag = "item";
    List<Carousel> CarouselList = ViewBag.Carousels;
    List<News> NewsList = ViewBag.News;
    List<ProductScene> SceneList = ViewBag.Scenes;
    CompanyInfo CompanyInfo = ViewBag.CompanyInfo;
}

<!-- 四个菜单图片 -->
<!-- <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <img src="~/upload/2017415151701.jpg" class="img-responsive" />
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <img src="~/upload/2017415151701.jpg" class="img-responsive" />
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <img src="~/upload/2017415151701.jpg" class="img-responsive" />
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
        <img src="~/upload/2017415151701.jpg" class="img-responsive" />
    </div> -->

    <!-- 轮播图 -->
    <div id="plant-index-carousel" class="carousel slider" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @foreach (var carouselItem in CarouselList)
            {
                if (CarouselList.IndexOf(carouselItem) == 0)
                {
                    activeFlag = "item active";
                }
                else
                {
                    activeFlag = "item";
                }
                <div class="@(activeFlag)">
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#">
                            <img src=@(carouselItem.MobilePicturePath) class="img-responsive" />
                        </a>
                    </div>

                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#">
                            <img src=@(carouselItem.PicturePath) class="img-responsive" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- 新闻 -->
    <div id="plant-index-carousel-news" class="carousel slider" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @foreach (var newsItem in NewsList)
            {
                if (NewsList.IndexOf(newsItem) == 0)
                {
                    activeFlag = "item active";
                }
                else
                {
                    activeFlag = "item";
                }
                <div class="@(activeFlag)">
                    <div class="visible-xs visible-sm hidden-md hidden-lg">
                        <a href="#">
                            <img src=@(newsItem.MobilePicture) class="img-responsive" />
                        </a>
                    </div>

                    <div class="hidden-xs hidden-sm visible-md visible-lg">
                        <a href="#">
                            <img src=@(newsItem.Picture) class="img-responsive" />
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- 应用场景 -->
    <div id="productScenes">
        <div class="text-center">
            @if (SceneList.Count() > 0)
            {
                // 大屏幕部分
                <div class="hidden-xs hidden-sm visible-md visible-lg">
                    @foreach (var scene in SceneList)
                    {
                        <a id=@scene.Id class="sceneDisInlineBlock" href="#">
                            <img src=@scene.PicturePath class="img-responsive" alt=@scene.Name />
                        </a>
                    }
                </div>

                // 小屏幕部分
                <div class="visible-xs visible-sm hidden-md hidden-lg">
                    <div class="row">
                        @foreach (var scene in SceneList)
                        {
                            <div class="col-xs-4 col-sm-4">
                                <a id=@scene.Id class="smallSceneDisInlineBlock" href="#">
                                    <img src=@scene.PicturePath class="img-responsive" alt=@scene.Name />
                                </a>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <!-- 场景对应产品部分 -->
    @await Html.PartialAsync("_ProductPartial")

    <!-- 公司介绍部分 -->
    @if (CompanyInfo != null)
    {
        <div id="CompanyInfo">
            <img class="img-responsive hidden-sm hidden-xs visible-md visible-lg" src=@(CompanyInfo.BackgroundImage) style="width:100%" />
            <img class="img-responsive visible-sm visible-xs hidden-md hidden-lg" src=@(CompanyInfo.MobileBackgroundImage) style="width:100%" />
        </div>
    }
</div>